<% subgoals.each do |s| %>
  <div class="subgoal-each__container">
    <div class="subgoal-checkbox__container">
      <input type="checkbox" <%= s.completed ? "checked" : "" %> >
    </div>

    <div class="subgoal-title__container">
      <div class="subgoal-title__text"><%= s.title %></div>
      <input class="input subgoal-title__input" type="text" value="<%= s.title %>">
    </div>

    <div class="subgoal-edit__container">
      <a class="subgoal-edit__link" href="">Edit</a>
      <a class="subgoal-save__link" href="">Save</a>
    </div>
    <div class="subgoal-delete__container">
      <%= link_to "Delete", goal_subgoal_path(s.goal_id, s.id), :method => 'delete', :remote => true, :class => "what" %>
    </div>

  </div>
<% end %>
