.goals-index__link {
  color: $primary;
  text-decoration: underline;
}

.goal-each__title {
  font-weight: bold;
}
.goal-each__initiator-country {
  display: none;
}
.goal-each__goal-description {
  display: none;
  font-style: italic;
}
.goal-each__more-info {
  font-size: 0.7em;
  color: $primary;
  padding-left: 1em;
  .fa.fa-caret-down {
    color: $primary;
  }
}

.goal-each__timestamp {
  font-style: italic;
  font-size: 0.8em;
}

.goal-each__messages-title {
}


// SUBGOALS STUFF

.subgoals__container {
  margin: 20px 0;
  border-top: 3px solid $secondary;
  border-bottom: 3px solid $secondary;
  padding: 2em 0;
}
.subgoals__title {
  text-align: center;
}

.subgoals__toggle,
.messages__toggle {
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  .fa {
    vertical-align: top;
    color: $primary;
    line-height: 30px;
  }
}

.goal-edit__container {
  text-align: center;
  color: $primary;
}
.subgoal-each__container {
  border-top: 1px solid $primary-light;
  border-bottom: 1px solid $primary-light;
  margin: 0.5em 0;
  padding: 0.5em 0;
  &:hover {
    background: $primary-light;
  }
}
.subgoal-checkbox__container {
  display: inline-block;
}
.checkbox.subgoal-checkbox__input {
  display: none;
}
.subgoal-title__container {
  display: inline-block;
  width: 70%;
}
.subgoal-title__text {
  display: inline-block;
}

.subgoal-title__input,
.input.subgoal-title__input {
  display: none;
}

.subgoal-edit__container {
  display: inline-block;
  margin-right: 2em;
}
.subgoal-save__link {
  display: none;
  background: none;
  border: none;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
}
.subgoal-delete__container {
  display: inline-block;
}

#errorMessage {
  color: $primary;
}
