.goals-index__link {
  color: $primary;
  text-decoration: underline;
}

.goal-each__title {
  font-weight: bold;
}
.goal-each__initiator-country {
  display: none;
}
.goal-each__goal-description {
  display: none;
  font-style: italic;
}
.goal-each__more-info {
  font-size: 0.7em;
  color: $primary;
  padding-left: 1em;
  .fa.fa-caret-down {
    color: $primary;
  }
}

.goal-each__timestamp {
  font-style: italic;
  font-size: 0.8em;
}

.goal-each__messages-title {
}

.subgoals__container {
  display: none;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  padding: 1em 0;
}
.goal-edit__container {
  text-align: center;
  color: $primary;
}
.subgoal-each__container {
  border-top: 1px solid $primary-light;
  border-bottom: 1px solid $primary-light;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.subgoal-checkbox__container {
  display: inline-block;
}
.subgoal__title {
  display: inline-block;
  width: 50%;
}

.subgoal-edit__container {
  display: inline-block;
}
.subgoal-delete__container {
  display: inline-block;
}
