.goal-each__container {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid $primary;
}

.goal-each__title {
  font-weight: bold;
}

.goal-each__timestamp {
  font-style: italic;
  font-size: 0.8em;
}
