.header {
  padding: 1em 0 0;
  border-bottom: 1px solid $primary;
  background: rgba(255, 104, 28, 0.1);
  @media screen and (min-width: 600px) {
    text-align: center;
  }
}
.header-logo__container {
  height: 70px;
  text-align: left;
  margin-left: 2em;
  display: inline-block;
}
.header-logo__image {
  height: 100%;
}
.header-hamburger__container {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  vertical-align: top;
  position: absolute;
  padding: 0 2em;
  right: 0;
  @media screen and (min-width: 600px) {
    display: none;
  }
}
.nav__container {
  display: none;
  max-width: 100%;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  top: 90px;
  width: 100%;
  background: rgba(255, 104, 28, 0.2);
  border-bottom: 1px solid $primary;
  @media screen and (min-width: 600px) {
    display: block;
  }
}
.nav-list__item {
  display: block;
  padding: 1em 0;
  @media screen and (min-width: 600px) {
    display: inline;
    padding: 0 1em;
  }
}
