.header {
  padding: 1em 0 0 0;
  border-bottom: 1px solid $primary;
}

.header-logo__container {
  height: 70px;
  text-align: center;
}

.header-logo__image {
  height: 100%;
}
.nav__container {
  max-width: 100%;
  text-align: center;
  padding: 1em 0;
}
.nav-list__item {
  display: inline;
  padding: 0 1em;

}
