.header {
  border-bottom: 1px solid $primary;
  background: $primary-light;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  @media screen and (min-width: 600px) {
    height: 100px;
    text-align: center;
  }
}
.header-logo__container {
  height: 70px;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  display: inline-block;
  @media screen and (min-width: 600px) {
    height: 100px;
  }
}
.header-logo__image {
  height: 100%;
}
.menu-toggle__container {
  display: block;
  width: 100%;
  text-align: center;
  height: 30px;
  border-bottom: 1px solid $primary;
  top: 70px;
  vertical-align: top;
  background: $primary-very-light;
  position: fixed;
  right: 0;
  .fa.fa-caret-down {
    line-height: 30px;
  }
  @media screen and (min-width: 600px) {
    display: none;
  }
}
.nav__container {
  display: none;
  max-width: 100%;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  top: 100px;
  width: 100%;
  background: $primary-light;
  border-bottom: 1px solid $primary;
  @media screen and (min-width: 600px) {
    display: block;
    height: 50px;
  }
}
.nav-list__item {
  display: block;
  padding: 1em 0;
  font-size: 0.8em;
  @media screen and (min-width: 600px) {
    display: inline;
    padding: 0 1em;
  }
}
