.lol__title {
  text-align: center;
}

.lol__container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.lol-image__container {
  display: inline-block;
  width: 40%;
  margin: 1em;
}
.lol-image {
}
