.container {
  max-width: 900px;
  margin: 0 auto;
}

.main {
  margin: 50px auto;
  padding: 0 2em;
  @media screen and (min-width: 600px) {
    margin: 120px auto;
  }
}

.main__title {
  text-align: center;
}

.text-center {
  text-align: center;
}
