.container {
  max-width: 900px;
  margin: 0 auto;
}

.main__container {
  max-width: 900px;
  margin: 110px auto;
  padding: 0 2em;
  min-height: 90vh;
  @media screen and (min-width: 600px) {
    margin: 150px auto;
    padding-top: 2em;
  }
}

.main__title {
  text-align: center;
}

.text-center {
  text-align: center;
}
