.user-each__container {
  line-height: 150%;
  text-align: center;
  // margin: 0 auto;
}

.user-each__user-pic {
  border-radius: 50%;
  width: 60%;
  height: auto;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

}

.user-each__user-location {
  margin-top: 0.6em;
  font-size: 20px;
}

.user-each__user-bio {
  margin-top: 0.6em;
  font-size: 20px;
}

.goals__container {
  line-height: 170%;
  // text-align: center;
  margin-top: 5em;
}

.goals__title {
  margin: 1em 0;
  border-bottom: 1px solid $secondary;
  padding-bottom: 0.5em;
}

.user-each__goals-uncompleted-link {
  line-height: 130%;

  :hover {
  color: $secondary;
  }
}

.user-each__goals-completed-link {
  line-height: 130%;

  :hover {
  color: $secondary;
  }
}

.quote-each__quote {
  text-align: center;
  margin-top: 5em;
  font-size: 23px;
  font-style: italic;
  color: $primary;
}
